---
const platformGitHUb = "github";
const username1 = "ll-zerr";
const platformLinkedIn = "linkedin";
const username2 = "laurazerr"
---

<footer>
  <p>Learn more about my projects on: 
    <a href={`https://www.${platformGitHUb}.com/${username1}`} aria-label="Laura Zerr on GitHub" target="_blank">{platformGitHUb}</a>
    <a href={`https://www.${platformLinkedIn}.com/in/${username2}`} aria-label="Laura Zerr on Linkedin" target="_blank">{platformLinkedIn}</a>
  </p>
</footer>